{%extends 'base.html'%}
{%load static%}
{%block content%}
            <!-- End Main Header -->
            
         


                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="gridLayout" role="tabpanel">
                            <div class="row">
                                {% for wood in woods %}
                                <div class="col-md-4">
                                    <div class="homeya-box">
                                        <div class="archive-top">
                                            <a href="{% url 'wood_detail' wood.pk %}" class="images-group">
                                                <div class="images-style">
                                                    <img src="{{ wood.image1.url }}" alt="{{ wood.name }}" style = "height:300px !important;">
                                                </div>
                                                <div class="top">
                                                    <ul class="d-flex gap-8">
                                                        <li class="flag-tag success">Featured</li>
                                                        <li class="flag-tag style-1">For Sale</li>
                                                    </ul>
                                                    <ul class="d-flex gap-4">
                                                        <li class="box-icon w-32">
                                                            <span class="icon icon-arrLeftRight"></span>
                                                        </li>
                                                        <li class="box-icon w-32">
                                                            <span class="icon icon-heart"></span>
                                                        </li>
                                                        <li class="box-icon w-32">
                                                            <span class="icon icon-eye"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="bottom">
                                                    <span class="flag-tag style-2">{{ wood.name }}</span>
                                                </div>
                                            </a>
                                            <div class="content">
                                                <div class="h7 text-capitalize fw-7"><a href="{% url 'wood_detail' wood.pk %}" class="link">Color: {{ wood.color }}</a></div>
                                                <div class="desc"><i class="fs-16 icon icon-kit"></i><p>{{ wood.durability }}</p> </div>
                                                {% comment %} <ul class="meta-list">
                                                    <li class="item">
                                                        <i class="icon icon-bed"></i>
                                                        <span>3</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-bathtub"></i>
                                                        <span>2</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-ruler"></i>
                                                        <span>600 SqFT</span>
                                                    </li>
                                                </ul> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="archive-bottom d-flex justify-content-between align-items-center">
                                            <div class="d-flex gap-8 align-items-center">
                                                {% comment %} <div class="avatar avt-40 round">
                                                    <img src="images/avatar/avt-6.jpg" alt="avt">
                                                </div> {% endcomment %}
                                                <span>Density</span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <h6>{{ wood.density }}</h6>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                                
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    


                </div>
               
            </section>
        </div>
        <!-- /#page -->

    </div>
    <br>

    

    {%endblock content%}
    