{%extends 'base.html'%}
{%load static%}

{%block content %}

            <!-- End Main Header -->
            <section class="flat-location flat-slider-detail-v1">
                <div class="swiper tf-sw-location" data-preview-lg="2.03" data-preview-md="2" data-preview-sm="2" data-space="20" data-centered="true" data-loop="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="{{ wood.image1.url }}" data-fancybox="gallery" class="box-imgage-detail d-block">
                                <img src="{{ wood.image1.url }}" alt="{{ wood.name }} " class="wood-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="{{ wood.image2.url }}" data-fancybox="gallery" class="box-imgage-detail d-block">
                                <img src="{{ wood.image2.url }}" alt="{{ wood.name }} " class="wood-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="{{ wood.image3.url }}" data-fancybox="gallery" class="box-imgage-detail d-block">
                                <img src="{{ wood.image3.url }}" alt="{{ wood.name }} " class="wood-image">
                            </a>
                        </div>
                    </div>
                    <div class="box-navigation">
                        <div class="navigation swiper-nav-next nav-next-location"><span class="icon icon-arr-l"></span></div>
                        <div class="navigation swiper-nav-prev nav-prev-location"><span class="icon icon-arr-r"></span></div> 
                    </div>
                    <!-- <div class="icon-box">
                        <a href="#" class="item"><span class="icon icon-map-trifold"></span></a>
                        <a href="images/banner/banner-property-1.jpg" class="item active" data-fancybox="gallery"><span class="icon icon-images"></span></a>
                    </div> -->
                </div>
            </section>

            <section class="flat-section pt-0 flat-property-detail">
                <div class="container">
                    <div class="header-property-detail">
                        <div class="content-top d-flex justify-content-between align-items-center">
                            <div class="box-name">
                                <a href="#" class="flag-tag primary">Details</a>
                                <h4 class="title link">{{wood.name}}</h4>
                            </div>
                            
                        </div>
                        <div class="content-bottom">
                            <div class="info-box">
                                <div class="label">FEATUREs:</div>
                                <ul class="meta">
                                    <li class="meta-item"><span class="icon icon-bed"></span> {{wood.color}}</li>
                                    
                                </ul>
                            </div>
                            <div class="info-box">
                                <div class="label">LOCATION:</div>
                                <p class="meta-item"><span class="icon icon-mapPin"></span> 8 Broadway, Brooklyn, New York</p>
                            </div>
                            <ul class="icon-box">
                                <li><a href="#" class="item"><span class="icon icon-arrLeftRight"></span> </a></li>
                                <li><a href="#" class="item"><span class="icon icon-share"></span></a></li>
                                <li><a href="#" class="item"><span class="icon icon-heart"></span></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-property-element single-property-desc">
                                <div class="h7 title fw-7">Description</div>
                                <p class="body-2 text-variant-1">{{wood.description|linebreaks}}</p>
                            </div>
                            

                           
                        <div class="single-property-element single-property-nearby">
                                <div class="h7 title fw-7">More Interesting things to know</div>
                                <div class="grid-1 box-nearby">
                                    <ul class="box-left">
                                        <li class="item-nearby">
                                            <span class="label">Grain:</span>
                                            <span class="fw-7">{{wood.grain}}</span>
                                        </li>
                                        <li class="item-nearby">
                                            <span class="label">Density:</span>
                                            <span class="fw-7">{{wood.density}}</span>
                                        </li>
                                        <li class="item-nearby">
                                            <span class="label">Durability</span>
                                            <span class="fw-7">{{wood.durability}}</span>
                                        </li>
                                        <li class="item-nearby">
                                            <span class="label">Uses:</span>
                                            <span class="fw-7">{{wood.uses|linebreaks}}</span>
                                        </li>
                                        <li class="item-nearby">
                                            <span class="label">Care:</span>
                                            <span class="fw-7">{{wood.care_instructions|linebreaks}}</span>
                                        </li>


                                    </ul>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="widget-sidebar fixed-sidebar wrapper-sidebar-right">
                                <div class="widget-box single-property-contact bg-surface">
                                    <div class="h7 title fw-7">Contact Sellers</div>
                                    <div class="box-avatar">
                                        <div class="avatar avt-100 round">
                                            <img src="{%static 'images/avatar/avt-12.jpg'%}" alt="avatar">
                                        </div>
                                        <div class="info">
                                            <div class="text-1 name">Shara Conner</div>
                                            <span>1-333-345-6868 themesflat@gmail.com</span>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                                <div class="widget-box single-property-whychoose bg-surface">
                                    <div class="h7 title fw-7">Why Choose Us?</div>
                                    <ul class="box-whychoose">
                                        <li class="item-why">
                                            <i class="icon icon-secure"></i>
                                            Secure Booking
                                        </li>
                                        <li class="item-why">
                                            <i class="icon icon-guarantee"></i>
                                            Best Price Guarantee
                                        </li>
                                        <li class="item-why">
                                            <i class="icon icon-booking"></i>
                                            Easy Booking Process
                                        </li>
                                        <li class="item-why">
                                            <i class="icon icon-support"></i>
                                            Available Support 24/7
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
           
{%endblock content%}   
